@media screen and (max-width: 320px) {
    .operator , .number {
       
        padding: 20px;
  
        font-size: 1em;
       
       
    }
}

@media screen and (max-width: 375px) {
    .operator , .number {
       
        padding: 20px;
  
        font-size: 1em;
       
       
    }
}