@font-face {
    font-family: 'Roboto-Regular';
    src: url('Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'Roboto-Regular';
    margin: 0;
   
}

* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.flex-coloumn, .flex-history {
    display: flex;
    flex-flow: column;
   
   
   margin: auto;
   max-width: 500px;
   
   border: 1px solid #84817a;

}

.flex-coloumn {
    padding: 5px;
}


.flex-row {
    display: flex;
   
  
}

.operator , .number {
    flex-basis : 25%;
   
    text-align: center;
    border: 1px solid #d1ccc0;
    padding: 25px;
    background: -webkit-linear-gradient(top, #d1ccc0, #84817a);
    cursor: pointer;
    font-size: 2em;
    margin: 5px;
    border-radius: 1em/1em;
    text-shadow: 1px 2px #84817a;
   
}

.double {
    flex-basis: 50%;
}

.operator {
    color: white;
    
}

#displayNumber {
    font-size: 2.5em;
}

.display {
    padding: 0 20px;
    margin: 5px 0;
    border-bottom: 2px solid #bdc3c7;
    text-align: right;
}


.flex-history {
    margin-top: 20px;
   text-align: center;
}

th, td {
    
    padding: 10px;
    margin: 0;
}

th {
    background: -webkit-linear-gradient(top, #d1ccc0, #84817a);
    
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #d1ccc0;
 }

 .riwayat {
     text-align: center;
     text-shadow: 2px 2px #d1ccc0;
 }











